{% extends "base.html" %}

{% block title %}
    Log In
{% endblock title %}

{% block content %}
    <h1>Log-in</h1>
    <p>Please use the following form to Login</p>
    <form action="." method="post">
        {{ form.as_p }}
        <input type="submit" value="Log in">
        {% csrf_token %}
    </form>
    <div class="social">
        <ul>
          <li class="facebook"><a href="{% url "social:begin" "facebook" %}">Sign
      in with Facebook</a></li>
   </ul> </div>
{% endblock content %}